<h1>Listing appetizers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Image link</th>
    <th>Prep time</th>
    <th>Cook time</th>
    <th>Ready in</th>
    <th>Makes</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appetizers.each do |appetizer| %>
  <tr>
    <td><%= appetizer.title %></td>
    <td><%= image_tag appetizer.image_link %></td>
    <td><%= appetizer.prep_time %></td>
    <td><%= appetizer.cook_time %></td>
    <td><%= appetizer.ready_in %></td>
    <td><%= appetizer.makes %></td>
    <td><%= raw appetizer.description %></td>
    <td><%= link_to 'Show', appetizer %></td>
    <td><%= link_to 'Edit', edit_appetizer_path(appetizer) %></td>
    <td><%= link_to 'Destroy', appetizer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appetizer', new_appetizer_path %>
