
<h2>Breakfast Recipes</h2>

<div class="row">
          <div class="span9">

              <% @appetizers.each do |appetizer| %>

  <div class="span3">

     <div class="tile img-pad">
        <a href="/appetizers/<%=appetizer.id%>">
        <img alt="watermelon salsa recipe" src="<%=appetizer.image_link%>">
        </a>
      <a href="/appetizers/<%=appetizer.id%>"> <%= truncate(appetizer.title, :length => 20) %> </a>
     </div>

  </div>

  <div style="padding: 10px;"></div>
<% end %>
          </div>

          <div class="span3">
            <div class="well sidebar-nav">
              <h3>recipe categories</h3>
              <ul class="nav nav-list">
                <li class="nav-header">---------------------</li>
                <li><%= link_to "appetizers", "/site"  %></li>
               </ul>
            </div><!--/.well -->
          </div><!--/span-->


       </div><!--/row-->



 <style type="text/css">
   .span3 {
       width: 257px;
   }
  .img-pad {
       padding: 10px;
   }

 </style>

